.main {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .main {
    width: 100%;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
}
