.Contacts {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .ContactsDetails {
    width: 43%;
    color: #111;
    .ContactsSvg {
      margin-top: -3em;
    }
    .ContactsBlockDetails {
      background-color: #ffd000;
      padding: 0.5em 2em;
      font-size: 0.9rem;

      hr {
        margin: 1em 0;
      }
      span {
        font-size: 0.9em;
        margin-left: 1em;
      }

      .socialmedia {
        display: flex;
        flex-direction: column;

        .bubbles {
          display: flex;
          align-items: center;
          margin-bottom: 1em;
        }
      }
    }
  }

  .ContactsSendForm {
    display: flex;
    flex-direction: column;
    width: 45%;
    color: #111;
    background: #fdfffc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 80px 0px;
    padding: 2em;
    div {
      text-align: center;
      font-weight: 700;
      margin-bottom: 3em;
    }
    label {
      color: #111;
    }
    input {
      margin-bottom: 0.25em;
      padding-top: 1em;
      font-size: 1rem;
      border: 0;
      border-bottom: 1px solid #bca004;
      background: #f8f2c1;
      outline: none;
    }
    textarea {
      outline: none;
      resize: none;
      height: 6em;
      background: #f8f2c1;
      padding-top: 1em;
      font-size: 1rem;
      border: 0;
      border-bottom: 1px solid #bca004;
    }
    button {
      margin-top: 1em;
      margin-bottom: 1 em;
      background: #ffd000;
      border: none;
      padding: 1em 3em;
      width: 100%;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

// smaller screen
@media only screen and (max-width: 500px) {
  .Contacts {
    flex-direction: column;
    .ContactsDetails {
      width: 100%;
      color: #111;

      .ContactsBlockDetails {
        span {
          font-size: 0.7em;
          font-weight: 700;
        }
      }
    }

    .ContactsSendForm {
      width: 90%;
      margin-top: 1em;
      border-radius: 0px 0px 0px 0px;
      padding: 1em;
    }
  }
}

//ipad and some bigger handheld screen
@media screen and (min-width: 501px) and (max-width: 1050px) {
}
