//variables
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$montserrat: "Montserrat", serif;

body {
  background: #111;
  font-family: $montserrat;
  color: #fff;
}

nav {
  width: 90%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .Nav-Logo {
    margin-left: -1.5em;
    position: relative;
    top: 7px;
  }

  .Nav-Links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      padding: 0.5em;
    }
    a:hover {
      color: #ffd000;
    }
  }
}

main {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.Left-Frame {
  margin-top: 0.5em;
  background: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px 0px 0px;
  overflow: hidden;
  width: 25%;
  .Left-Frame-text {
    h1 {
      margin-left: 2em;
      margin-top: -0.5em;
      font-weight: 700;
      span {
        color: #bca004;
      }
    }
    h5 {
      margin-top: 2em;
      margin-left: 3em;
    }
  }
  .left-Frame-Me {
    margin-left: -60em;
  }
}

.Right-Frame {
  margin-top: 0.5em;
  background: #fdfffc;
  border-radius: 0px 0px 100px 0px;
  width: 73%;

  .Right-Frame-Buttons {
    display: flex;
    margin-left: 3em;
    justify-content: flex-start;

    div {
      margin-right: 2em;
      width: 30%;
      button {
        background: #ffd000;
        border: none;
        padding: 1em 3em;
        width: 100%;
        font-weight: 700;
        font-family: $montserrat;
        cursor: pointer;
      }
    }
  }
}

.Contacts {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .Contacts-Details {
    width: 43%;
    color: #111;
    .Contacts-Svg {
      margin-top: -3em;
    }
    .Contacts-Block-Details {
      background-color: #ffd000;
      padding: 0.5em 2em;
      font-size: 0.9rem;

      hr {
        margin: 2em 0;
      }
      span {
        font-size: 0.9em;
        margin-left: 1em;
      }

      .social-media {
        display: flex;
        flex-direction: column;

        .bubbles {
          display: flex;
          align-items: center;
          margin-bottom: 1em;
        }
      }
    }
  }

  .Contacts-Send-Form {
    display: flex;
    flex-direction: column;
    width: 43%;
    color: #111;
    background: #fdfffc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 80px 0px;
    padding: 2em;
    div {
      text-align: center;
      font-weight: 700;
      margin-bottom: 3em;
    }
    label {
      color: #111;
    }
    input {
      margin-bottom: 0.25em;
      padding-top: 1em;
      font-size: 1rem;
      border: 0;
      border-bottom: 1px solid #bca004;
      background: #f8f2c1;
      outline: none;
    }
    textarea {
      outline: none;
      resize: none;
      height: 6em;
      background: #f8f2c1;
      padding-top: 1em;
      font-size: 1rem;
      border: 0;
      border-bottom: 1px solid #bca004;
    }
    button {
      margin-top: 1em;
      margin-bottom: 1 em;
      background: #ffd000;
      border: none;
      padding: 1em 3em;
      width: 100%;
      font-weight: 700;
      font-family: $montserrat;
      cursor: pointer;
    }
  }
}
